*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to right,#35d0d6,#402477);
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    justify-content: flex-start;
}
#name{
    margin-top: 30px;
    font-size: 2rem;
    
}
.weather-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 30px;
    border-radius: 10px;
    width: 600px;
}

#location-form{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    margin-bottom: 20px;
}

#location-input{
    border-radius: 6px;
    padding: 10px;
    width: 350px;
    outline: none;
    border: white;
}
button{
    text-align: center;
    background-color: #f56d37;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    border: #f56d37;
    font-weight: 520;
}

button:hover{
    background-color: #de6839;
}

#weather-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
